/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  text-align: center;
}

header{
  padding: 3%;
}

h1{
  padding: 0;
  margin: 0;
}

section{
  padding: 5%;
}



/******************************************
/* LAYOUT
/*******************************************/
h1, h2, h3{
  color: white;
  text-shadow: 0.07em 0 black, 0 0.07em black, 0.07em 0 black, 0 -0.07em black;
  /*font-family: 'Parisienne', cursive;*/
  font-family: 'Playfair Display', serif;
  font-size: 50px;
}

h3{
  font-size: 25px;
}

/*Player Select Section*/
.orderContainer{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.orderContainer div{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
}

.orderContainer button{
  width: 30px;
  height: 30px;
}

.playerBlue{
  display: none;
}
.playerGreen{
  display: none;
}
.playerRed{
  display: none;
}
.playerOrange{
  display: none;
}
.playerWhite{
  display: none;
}
.playerBrown{
  display: none;
}

/*Board Section*/
#board{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: url(../images/ocean.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 900px;
}

.mainBoard{
  
}

#board aside{
  
}

#board h2{
  margin-top: 0;
}

#board div{
  display: flex;
  justify-content: center;
  background-position: center;
}

#board div div{
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/pieceDesert.png);
  background-position: center;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  height: 150px;
  width: 150px;
}

#centerBackground{
  background-position: center;
}

#board div div button, img.robberButton{
  height:40px;
  width: 40px;
  border-radius: 50%;
  border: solid 2px black;
}

#board section{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.rowHex0{
  position: relative;
  top: 77.5px;
}

.rowHex2{
  position: relative;
  bottom: 77.5px;
}

.rowHex3{
  position: relative;
  bottom: 155px;
}

.rowHex4{
  position: relative;
  bottom: 232.5px;
}

.rowHex5{
  position: relative;
  bottom: 310px;
}

.rowHex6{
  position: relative;
  bottom: 387.5px;
}
.rowHex7{
  position: relative;
  bottom: 465px;
}

img.shiftUp, img.shiftDown{
  border-radius: 50%;
  margin: 0 17.5px;
  width: 40px;
  height: 40px;
  z-index: 3;
  background: none;
  border: none;
}

img.shiftUp:hover, img.shiftDown:hover{
  border: solid 2px black;
}

.shiftUp{
  position: relative;
  bottom: 52.5px;
}

.shiftDown{
  position: relative;
  bottom: 20px;
}

#board .bigBoard{
  display: none;
}

/*TODO: Dont know if I want to keep this*/
/*Attemped fix for layering clickable elements in the board*/
.robberButton, .numsButton{
  background: rgba(255,255,255,.65)
}

.numsButton{
  color: black;
  /*text-shadow: 0.07em 0 black, 0 0.07em black, 0.07em 0 black, 0 -0.07em black;*/
  font-size: 170%;
  font-weight: bolder;
}

  /*Robber Button*/
.robberButton{
  background: rgba(255,255,255,.65);
  background-position: center;
  background-repeat: none;
  background-size: cover; 

}

/*Aside Settlement Placer*/
#place{
  display: none;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.settType, .settColor{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#place button, #place img{
  height:50px;
  width: 50px;
  border-radius: 50%;
}

/*Trade Track Section*/
#card, #player, header{
  background: url(../images/woodBack.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover; 
}

.cardContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#card > button{
  width: 100px;
}

.cardContainer div{
  border-radius: 15px;
  margin: 20px 0;
}

.trackBlue, .orderContBlue, #settBlue{
  border: solid 10px #08214a;
  background:radial-gradient(lightskyblue, #5b7cb0,#183d8c);
}
.trackGreen, .orderContGreen, #settGreen{
  border: solid 10px #022e01;
  background: radial-gradient(lightgreen, #418f3f, #095705);
}
.trackRed, .orderContRed, #settRed{
  border: solid 10px #4d0206;
  background:radial-gradient(#f28d91,#f55860,#70080d); 
}
.trackBrown, .orderContBrown, #settBrown{
  border: solid 10px #26130a;
  background:radial-gradient(tan,#947769,#3b190c);
}
.trackWhite, .orderContWhite, #settWhite{
  border: solid 10px gray;
  background: radial-gradient(white,#edebeb, #b8b9ba);
}
.trackOrange, .orderContOrange, #settOrange{
  border: solid 10px #751c01;
  background: radial-gradient(#fa9070,#fa693e,#8c2c08);
}

ul{
  list-style: none;
  padding: 15px;
  margin: 0;
}

li img{
  height: 35px;
}

li button{
  width: 30px;
}

/*Card Reveal Section*/
#reveal{
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(../images/woodBack.jpg);
  color: white;
}

table{
  width: 100%;
  font-size: 30px;
  text-shadow: 0.07em 0 black, 0 0.07em black, 0.07em 0 black, 0 -0.07em black;
}

td, th{
  padding: 5px;
}

table h3{
  padding: 5px;
  background: rgba(0,0,0,.5);
  font-size: 40px;
}

tr{
  background: rgba(0,0,0,.5)
}

.trBlue{
  background: rgba(102,102,255,.5);
}
.trGreen{
  background: rgba(104,255,109,.5);
}
.trRed{
  background: rgba(255,102,102,.5);
}
.trOrange{
  background: rgba(255,178,102,.5);
}
.trWhite{
  background: rgba(255,255,255,.5);
}
.trBrown{
  background: rgba(213,175,126,.5);
}

#my-chart.line{
  height: 200px;
  max-width: 100%;
  margin: 0 auto;
  background: rgba(0,0,0,.5);
}

#clearGame{
  margin: 30px;
}

/*Dice Section*/
#dice{
  background: url(../images/pieceBack.jpg);
  background-repeat: none;
  background-size: cover;
}

.diceContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 15px;
}

.diceContainer div div{
  display: flex;
  flex-direction: column-reverse;
  background: linear-gradient(to top, rgba(0,0,0,.8), rgba(28,28,28,.8),rgba(50,50,50,.8));
  height: 200px;
}

.diceContainer div div div{
  border: solid 1px black;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(to top, #3d185e, #163c75,#62fcfc);
  height: 0px;
}

button{
  width: 55px;
  border-radius: 7px;
}

img{
  width: 50px;
  height: 40px;
  padding: 0 5px;
}

.diceContainer span{
  font-size: 20px;
  color: white;
  text-shadow: 0.07em 0 black, 0 0.07em black, 0.07em 0 black, 0 -0.07em black;
}

/*footer nav*/
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to top, black, #1c1c1c,#333332);
  z-index: 5;
}

nav{
  display: flex;
  justify-content: space-around;
  margin: 5px 10%;
}

a{
  color: white;
  text-shadow: 0.07em 0 black, 0 0.07em black, 0.07em 0 black, 0 -0.07em black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
